kafka:
  labels:
#   test selecting host based on labels
    io.rancher.scheduler.affinity:host_label: zk=rancher
#   only one container per host
    io.rancher.scheduler.affinity:container_label_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}

  image: clescot/rancher-kafka:17

  ports:
#  kafka message port
#   - "9092:9092"
#  JMX port
#   - "7203:7203"

  environment:
#enable_jmx need to be specified from catalog
   - ENABLE_JMX=true
